* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    color: #666;
}

a {
    cursor: pointer;
}

.box-shadow-gray {
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 2px 10px #eee;
    -moz-box-shadow: 1px 2px 10px #eee;
    -webkit-box-shadow: 1px 2px 10px #eee;
}

/* 页面样式 */
.header {
    background: #f5f5f5;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
}

.header-main {
    width: 1100px;
    margin: 0 auto;
}

.header-main-menu {
    position: absolute;
    bottom: 0px;
}

.main {
    width: 1100px;
    margin: 60px auto 60px auto;
}

.main::after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}

/* 文章布局 */
.article .left {
    float: left;
    width: 780px;
    padding: 0px 10px;
}

.article .right {
    float: right;
    width: 300px;
}

.article-detail .left .title {
    margin: 10px auto;
    text-align: center;
}

.article-detail .left .title h3 {
    font-size: 20px;
}

.article-detail .left .time {
    font-size: 12px;
    color: #aaa;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    text-align: center;
}

/* 工具样式 */
.main-tool {
    padding: 10px;
}

.main-tool .item {
    font-size: 14px;
    padding: 2px 5px;
    margin-right: 8px;
    border-radius: 4px;
}

.main-tool .item {
    background: #eee;
    color: #666;
}

.main-tool .item:hover {
    background: #666;
    color: #eee;
}


/* 页面样式 end */

/* MenuNav  */
.l-menu-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.l-menu-nav::after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}

.l-menu-nav li {
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    margin: 0px 10px;
    cursor: pointer;
    color: #999;
    padding: 0px 2px;
}

.l-menu-nav li:hover {
    color: #333;
}

.l-menu-nav li.select {
    color: #333;
    border-bottom: 3px solid #333;
}

.l-menu-line {
    height: 0px;
    overflow: hidden;
    border-bottom: 3px solid #333;
    position: absolute;
    margin-top: -3px;
}

/* MenuNav end */

/* 文章列表 */
.l-article-list .list {
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
}

.l-article-list .list h3 {
    font-size: 18px;
    height: 32px;
    line-height: 32px;
}

.l-article-list .list h3 a {
    color: #666;
}

.l-article-list .list h3 a:hover {
    color: #333;
}

.l-article-list .list .content {
    clear: both;
}

.l-article-list .list .describe p {
    line-height: 22px;
    font-size: 14px;
    color: #666;
    max-height: 66px;
    padding: 5px 0px;
    overflow: hidden;
}

.l-article-list .list .describe .tag,
.l-article-list .list .describe .time {
    color: #aaa;
    font-size: 12px;
    margin-right: 10px;
}

/* 文章列表 end */

/* 返回按钮 */

.go-back {
    margin-bottom: 15px;
}

.go-back a {
    font-size: 14px;
    color: #666;
}

.go-back a:hover {
    color: #333;
}

/* 返回按钮 */

/* paging */
.l-paging {
    text-align: center;
    color: #aaa;
    font-size: 14px;
    padding: 10px 0px;
}

.l-paging span,
.l-paging a {
    display: inline;
    padding: 2px 5px;
    margin: 0px 3px;
}

.l-paging span {
    color: #eee;
}

.l-paging a:hover {
    color: #333;
}

.l-paging a.select {
    color: #666;
    font-weight: bold;
}

/* paging end */

/* tool */

.main-tool-search {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
}

.main-tool-search::after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}

.main-tool-search span {
    float: left;
    padding-right: 5px;
}

.main-tool-search input {
    float: left;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    width: 200px;
    height: 24px;
    line-height: 24px;
}

.main-tool-item textarea,
.main-tool-item .textarea {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    width: 780px;
    height: 144px;
    background: #fff;
    border: 1px solid #ccc;
    word-break: break-all;
    overflow: auto;
    margin: 2px 0px;
}

.main-tool-item button,
.main-tool-item .button {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0px 5px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.main-tool-item button:hover,
.main-tool-item .button:hover {
    background: #eee;
}

/* tool end */